# Cluster Data Wrangling 

<hr style="border-top: 10px groove #1277e1; margin-top: 1px; margin-bottom: 1px"></hr>

In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

from pydataset import data

import wrangle as w


import warnings
warnings.filterwarnings("ignore")


<hr style="border-top: 10px groove #1277e1; margin-top: 1px; margin-bottom: 1px"></hr>

### Zillow
For the following, iterate through the steps you would take to create functions: Write the code to do the following in a jupyter notebook, test it, convert to functions, then create the file to house those functions.

You will have a zillow.ipynb file and a helper file for each section in the pipeline.

#### acquire & summarize
1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

2. Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction.
Only include properties that include a latitude and longitude value.
Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [2]:
# set and use zillow color palette
zpalette = ['#1277e1', '#f3ad35', '#0b449c', '#5289e4', '#c3eafb']
sns.set_palette(zpalette)
sns.color_palette()

[(0.07058823529411765, 0.4666666666666667, 0.8823529411764706),
 (0.9529411764705882, 0.6784313725490196, 0.20784313725490197),
 (0.043137254901960784, 0.26666666666666666, 0.611764705882353),
 (0.3215686274509804, 0.5372549019607843, 0.8941176470588236),
 (0.7647058823529411, 0.9176470588235294, 0.984313725490196)]

In [8]:
from env import host, password, user
import os

###################### Getting database Url ################
def get_db_url(db_name, user=user, host=host, password=password):
    """
        This helper function takes as default the user host and password from the env file.
        You must input the database name. It returns the appropriate URL to use in connecting to a database.
    """
    url = f'mysql+pymysql://{user}:{password}@{host}/{db_name}'
    return url

######################### get generic data #########################
def get_any_data(database, sql_query):
    '''
    put in the query and the database and get the data you need in a dataframe
    '''

    return pd.read_sql(sql_query, get_db_url(database))

######################### get Zillow Data #########################
def get_zillow_data():
    '''
    This function reads in Zillow data from Codeup database, writes data to
    a csv file if a local file does not exist, and returns a df.
    '''
    sql_query = """
                SELECT parcelid, airconditioningtypeid, airconditioningdesc, architecturalstyletypeid, architecturalstyledesc,
                bathroomcnt, bedroomcnt, buildingclasstypeid, buildingclassdesc, buildingqualitytypeid,
                decktypeid, calculatedfinishedsquarefeet, fips, fireplacecnt, fireplaceflag, garagecarcnt, garagetotalsqft,
                hashottuborspa, latitude, longitude, lotsizesquarefeet, poolcnt, poolsizesum, propertycountylandusecode,
                propertylandusetypeid, propertylandusedesc, propertyzoningdesc, rawcensustractandblock, 
                regionidcity, regionidcounty, regionidneighborhood, roomcnt, threequarterbathnbr, typeconstructiontypeid, typeconstructiondesc, unitcnt, yearbuilt, numberofstories, structuretaxvaluedollarcnt, taxvaluedollarcnt, assessmentyear, 
                landtaxvaluedollarcnt, taxamount, censustractandblock, logerror, transactiondate 
                FROM properties_2017 AS p
                JOIN predictions_2017 USING (parcelid)
                INNER JOIN (SELECT parcelid, MAX(transactiondate) AS transactiondate
                FROM predictions_2017
                GROUP BY parcelid) 
                AS t USING (parcelid, transactiondate)
                LEFT JOIN airconditioningtype USING (airconditioningtypeid)
                LEFT JOIN architecturalstyletype USING (architecturalstyletypeid)
                LEFT JOIN buildingclasstype USING (buildingclasstypeid)
                LEFT JOIN heatingorsystemtype USING (heatingorsystemtypeid)
                LEFT JOIN propertylandusetype USING (propertylandusetypeid)
                LEFT JOIN storytype USING (storytypeid)
                LEFT JOIN typeconstructiontype USING (typeconstructiontypeid)
                WHERE latitude IS NOT NULL AND longitude IS NOT NULL 
                AND transactiondate LIKE "2017%%";
                """
    if os.path.isfile('zillow_data.csv'):
        
        # If csv file exists read in data from csv file.
        df = pd.read_csv('zillow_data.csv', index_col=0)
        
    else:
        
        # Read fresh data from db into a DataFrame
        df = pd.read_sql(sql_query, get_db_url('zillow'))
        
        # Cache data
        df.to_csv('zillow_data.csv')

    return df

In [9]:
# get the data using function
df = get_zillow_data()

In [12]:
# shape  of dataframe
df.shape

(77380, 46)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77380 entries, 0 to 77379
Data columns (total 46 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77380 non-null  int64
 1   airconditioningtypeid         24953 non-null  float64
 2   airconditioningdesc           24953 non-null  object
 3   architecturalstyletypeid      206 non-null    float64
 4   architecturalstyledesc        206 non-null    object
 5   bathroomcnt                   77380 non-null  float64
 6   bedroomcnt                    77380 non-null  float64
 7   buildingclasstypeid           15 non-null     float64
 8   buildingclassdesc             15 non-null     object
 9   buildingqualitytypeid         49671 non-null  float64
 10  decktypeid                    614 non-null    float64
 11  calculatedfinishedsquarefeet  77184 non-null  float64
 12  fips                          77380 non-null  float64
 13  fireplacecnt                  8276 non-null   float64
 14  fireplaceflag                 172 non-null    float64
 15  garagecarcnt                  25474 non-null  float64
 16  garagetotalsqft               25474 non-null  float64
 17  hashottuborspa                1538 non-null   float64
 18  latitude                      77380 non-null  float64
 19  longitude                     77380 non-null  float64
 20  lotsizesquarefeet             69141 non-null  float64
 21  poolcnt                       16137 non-null  float64
 22  poolsizesum                   867 non-null    float64
 23  propertycountylandusecode     77380 non-null  object
 24  propertylandusetypeid         77380 non-null  float64
 25  propertylandusedesc           77380 non-null  object
 26  propertyzoningdesc            50330 non-null  object
 27  rawcensustractandblock        77380 non-null  float64
 28  regionidcity                  75909 non-null  float64
 29  regionidcounty                77380 non-null  float64
 30  regionidneighborhood          30890 non-null  float64
 31  roomcnt                       77380 non-null  float64
 32  threequarterbathnbr           10096 non-null  float64
 33  typeconstructiontypeid        222 non-null    float64
 34  typeconstructiondesc          222 non-null    object
 35  unitcnt                       50562 non-null  float64
 36  yearbuilt                     77117 non-null  float64
 37  numberofstories               17560 non-null  float64
 38  structuretaxvaluedollarcnt    77268 non-null  float64
 39  taxvaluedollarcnt             77379 non-null  float64
 40  assessmentyear                77380 non-null  float64
 41  landtaxvaluedollarcnt         77378 non-null  float64
 42  taxamount                     77375 non-null  float64
 43  censustractandblock           77136 non-null  float64
 44  logerror                      77380 non-null  float64
 45  transactiondate               77380 non-null  object
dtypes: float64(37), int64(1), object(8)
memory usage: 27.2+ MB

In [36]:
def count_object_values(df):
    
    obj_cols = [col for col in df.columns if df[col].dtype == 'object']
    
    for col in obj_cols:
        print(f'------{col}-------')
        print(df[col].value_counts())

In [49]:
def count_vals_less_10(df):
    
    small_cols = [col for col in df.columns if df[col].nunique() < 10]
    
    for col in small_cols:
        print(f'------{col}-------')
        print(df[col].value_counts())
        print(f'~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')

In [66]:
def count_unique(df):
    columns = df.columns
    
    for col in columns:
        print(f'{col} unique values\n{df[col].nunique()}\n================ ')

In [67]:
count_unique(df)

parcelid unique values
77380
================
airconditioningtypeid unique values
5
================
airconditioningdesc unique values
5
================
architecturalstyletypeid unique values
5
================
architecturalstyledesc unique values
5
================
bathroomcnt unique values
22
================
bedroomcnt unique values
16
================
buildingclasstypeid unique values
2
================
buildingclassdesc unique values
2
================
buildingqualitytypeid unique values
12
================
decktypeid unique values
1
================
calculatedfinishedsquarefeet unique values
4972
================
fips unique values
3
================
fireplacecnt unique values
5
================
fireplaceflag unique values
1
================
garagecarcnt unique values
14
================
garagetotalsqft unique values
839
================
hashottuborspa unique values
1
================
latitude unique values
64037
================
longitude unique values
62460
================
lotsizesquarefeet unique values
18848
================
poolcnt unique values
1
================
poolsizesum unique values
262
================
propertycountylandusecode unique values
75
================
propertylandusetypeid unique values
13
================
propertylandusedesc unique values
13
================
propertyzoningdesc unique values
1907
================
rawcensustractandblock unique values
39194
================
regionidcity unique values
175
================
regionidcounty unique values
3
================
regionidneighborhood unique values
480
================
roomcnt unique values
16
================
threequarterbathnbr unique values
4
================
typeconstructiontypeid unique values
4
================
typeconstructiondesc unique values
4
================
unitcnt unique values
8
================
yearbuilt unique values
136
================
numberofstories unique values
4
================
structuretaxvaluedollarcnt unique values
50429
================
taxvaluedollarcnt unique values
50948
================
assessmentyear unique values
1
================
landtaxvaluedollarcnt unique values
51600
================
taxamount unique values
73824
================
censustractandblock unique values
39006
================
logerror unique values
76836
================
transactiondate unique values
264
================

In [50]:
count_vals_less_10(df)

------airconditioningtypeid-------
1.0     23133
13.0     1574
5.0       167
11.0       53
9.0        26
Name: airconditioningtypeid, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
------airconditioningdesc-------
Central          23133
Yes               1574
None               167
Wall Unit           53
Refrigeration       26
Name: airconditioningdesc, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
------architecturalstyletypeid-------
7.0     172
8.0      19
21.0      7
2.0       5
3.0       3
Name: architecturalstyletypeid, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
------architecturalstyledesc-------
Contemporary     172
Conventional      19
Ranch/Rambler      7
Bungalow           5
Cape Cod           3
Name: architecturalstyledesc, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
------buildingclasstypeid-------
4.0    14
3.0     1
Name: buildingclasstypeid, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
------buildingclassdesc-------
Buildings having wood or wood and steel frames                                                                                                                                                                                             14
Buildings having exterior walls built of a non-combustible material such as brick, concrete, block or poured concrete. Interior partitions and roof structures are built of combustible materials. Floor may be concrete or wood frame.     1
Name: buildingclassdesc, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
------decktypeid-------
66.0    614
Name: decktypeid, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
------fips-------
6037.0    50550
6059.0    20593
6111.0     6237
Name: fips, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
------fireplacecnt-------
1.0    7008
2.0     995
3.0     235
4.0      35
5.0       3
Name: fireplacecnt, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
------fireplaceflag-------
1.0    172
Name: fireplaceflag, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
------hashottuborspa-------
1.0    1538
Name: hashottuborspa, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
------poolcnt-------
1.0    16137
Name: poolcnt, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
------regionidcounty-------
3101.0    50550
1286.0    20593
2061.0     6237
Name: regionidcounty, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
------threequarterbathnbr-------
1.0    10012
2.0       75
3.0        8
7.0        1
Name: threequarterbathnbr, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
------typeconstructiontypeid-------
6.0     219
4.0       1
13.0      1
10.0      1
Name: typeconstructiontypeid, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
------typeconstructiondesc-------
Frame       219
Masonry       1
Concrete      1
Metal         1
Name: typeconstructiondesc, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
------unitcnt-------
1.0      47292
2.0       2018
4.0        723
3.0        525
42.0         1
237.0        1
45.0         1
6.0          1
Name: unitcnt, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
------numberofstories-------
1.0    10366
2.0     6757
3.0      436
6.0        1
Name: numberofstories, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
------assessmentyear-------
2016.0    77380
Name: assessmentyear, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [15]:
# I saw this on the afore mentioned kaggle site. This is the credit that author gave.
# credit: https://www.kaggle.com/willkoehrsen/start-here-a-gentle-introduction. 
# One of the best notebooks on getting started with a ML problem.

def missing_values_table(df):
    '''
    this function takes a dataframe as input and will output metrics for missing values, 
    and the percent of that column that has missing values
    '''
    # Total missing values
    mis_val = df.isnull().sum()
    
    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    
    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    
    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    
    # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    
    # Print some summary information
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
        " columns that have missing values.")
        
        # Return the dataframe with missing information
    return mis_val_table_ren_columns

In [16]:
missing_values_table(df)

Your selected dataframe has 46 columns.
There are 31 columns that have missing values.

                              Missing Values  % of Total Values
buildingclasstypeid                    77365              100.0
buildingclassdesc                      77365              100.0
fireplaceflag                          77208               99.8
architecturalstyletypeid               77174               99.7
architecturalstyledesc                 77174               99.7
typeconstructiondesc                   77158               99.7
typeconstructiontypeid                 77158               99.7
decktypeid                             76766               99.2
poolsizesum                            76513               98.9
hashottuborspa                         75842               98.0
fireplacecnt                           69104               89.3
threequarterbathnbr                    67284               87.0
poolcnt                                61243               79.1
numberofstories                        59820               77.3
airconditioningdesc                    52427               67.8
airconditioningtypeid                  52427               67.8
garagetotalsqft                        51906               67.1
garagecarcnt                           51906               67.1
regionidneighborhood                   46490               60.1
buildingqualitytypeid                  27709               35.8
propertyzoningdesc                     27050               35.0
unitcnt                                26818               34.7
lotsizesquarefeet                       8239               10.6
regionidcity                            1471                1.9
yearbuilt                                263                0.3
censustractandblock                      244                0.3
calculatedfinishedsquarefeet             196                0.3
structuretaxvaluedollarcnt               112                0.1
taxamount                                  5                0.0
landtaxvaluedollarcnt                      2                0.0
taxvaluedollarcnt                          1                0.0

<hr style="border-top: 10px groove #1277e1; margin-top: 1px; margin-bottom: 1px"></hr>

1. Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [18]:
# number of rows | missing 6 |out of 46 columns so that's x percent

<hr style="border-top: 10px groove #1277e1; margin-top: 1px; margin-bottom: 1px"></hr>

#### Prepare
1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

- The input:
    - A dataframe
    - A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
    - A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
- The output:
    - The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
- hint:
    - Look up the dropna documentation.
    - You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.
    - Make use of inplace, i.e. inplace=True/False.
3. Decide how to handle the remaining missing values:
    - Fill with constant value.
    - Impute with mean, median, mode.
    - Drop row/column

#### wrangle_zillow.py
Functions of the work above needed to acquire and prepare a new sample of data.