# Cluster Data Wrangling 

<hr style="border-top: 10px groove #1277e1; margin-top: 1px; margin-bottom: 1px"></hr>

In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

from pydataset import data

import wrangle as w


import warnings
warnings.filterwarnings("ignore")


<hr style="border-top: 10px groove #1277e1; margin-top: 1px; margin-bottom: 1px"></hr>

### Zillow
For the following, iterate through the steps you would take to create functions: Write the code to do the following in a jupyter notebook, test it, convert to functions, then create the file to house those functions.

You will have a zillow.ipynb file and a helper file for each section in the pipeline.

#### acquire & summarize
1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

2. Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction.
Only include properties that include a latitude and longitude value.
Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [2]:
# set and use zillow color palette
zpalette = ['#1277e1', '#f3ad35', '#0b449c', '#5289e4', '#c3eafb']
sns.set_palette(zpalette)
sns.color_palette()

[(0.07058823529411765, 0.4666666666666667, 0.8823529411764706),
 (0.9529411764705882, 0.6784313725490196, 0.20784313725490197),
 (0.043137254901960784, 0.26666666666666666, 0.611764705882353),
 (0.3215686274509804, 0.5372549019607843, 0.8941176470588236),
 (0.7647058823529411, 0.9176470588235294, 0.984313725490196)]

In [8]:
from env import host, password, user
import os

###################### Getting database Url ################
def get_db_url(db_name, user=user, host=host, password=password):
    """
        This helper function takes as default the user host and password from the env file.
        You must input the database name. It returns the appropriate URL to use in connecting to a database.
    """
    url = f'mysql+pymysql://{user}:{password}@{host}/{db_name}'
    return url

######################### get generic data #########################
def get_any_data(database, sql_query):
    '''
    put in the query and the database and get the data you need in a dataframe
    '''

    return pd.read_sql(sql_query, get_db_url(database))

######################### get Zillow Data #########################
def get_zillow_data():
    '''
    This function reads in Zillow data from Codeup database, writes data to
    a csv file if a local file does not exist, and returns a df.
    '''
    sql_query = """
                SELECT parcelid, airconditioningtypeid, airconditioningdesc, architecturalstyletypeid, architecturalstyledesc,
                bathroomcnt, bedroomcnt, buildingclasstypeid, buildingclassdesc, buildingqualitytypeid,
                decktypeid, calculatedfinishedsquarefeet, fips, fireplacecnt, fireplaceflag, garagecarcnt, garagetotalsqft,
                hashottuborspa, latitude, longitude, lotsizesquarefeet, poolcnt, poolsizesum, propertycountylandusecode,
                propertylandusetypeid, propertylandusedesc, propertyzoningdesc, rawcensustractandblock, 
                regionidcity, regionidcounty, regionidneighborhood, roomcnt, threequarterbathnbr, typeconstructiontypeid, typeconstructiondesc, unitcnt, yearbuilt, numberofstories, structuretaxvaluedollarcnt, taxvaluedollarcnt, assessmentyear, 
                landtaxvaluedollarcnt, taxamount, censustractandblock, logerror, transactiondate 
                FROM properties_2017 AS p
                JOIN predictions_2017 USING (parcelid)
                INNER JOIN (SELECT parcelid, MAX(transactiondate) AS transactiondate
                FROM predictions_2017
                GROUP BY parcelid) 
                AS t USING (parcelid, transactiondate)
                LEFT JOIN airconditioningtype USING (airconditioningtypeid)
                LEFT JOIN architecturalstyletype USING (architecturalstyletypeid)
                LEFT JOIN buildingclasstype USING (buildingclasstypeid)
                LEFT JOIN heatingorsystemtype USING (heatingorsystemtypeid)
                LEFT JOIN propertylandusetype USING (propertylandusetypeid)
                LEFT JOIN storytype USING (storytypeid)
                LEFT JOIN typeconstructiontype USING (typeconstructiontypeid)
                WHERE latitude IS NOT NULL AND longitude IS NOT NULL 
                AND transactiondate LIKE "2017%%";
                """
    if os.path.isfile('zillow_data.csv'):
        
        # If csv file exists read in data from csv file.
        df = pd.read_csv('zillow_data.csv', index_col=0)
        
    else:
        
        # Read fresh data from db into a DataFrame
        df = pd.read_sql(sql_query, get_db_url('zillow'))
        
        # Cache data
        df.to_csv('zillow_data.csv')

    return df

In [9]:
# get the data using function
df = get_zillow_data()

In [12]:
# shape  of dataframe
df.shape

(77380, 46)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77380 entries, 0 to 77379
Data columns (total 46 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77380 non-null  int64
 1   airconditioningtypeid         24953 non-null  float64
 2   airconditioningdesc           24953 non-null  object
 3   architecturalstyletypeid      206 non-null    float64
 4   architecturalstyledesc        206 non-null    object
 5   bathroomcnt                   77380 non-null  float64
 6   bedroomcnt                    77380 non-null  float64
 7   buildingclasstypeid           15 non-null     float64
 8   buildingclassdesc             15 non-null     object
 9   buildingqualitytypeid         49671 non-null  float64
 10  decktypeid                    614 non-null    float64
 11  calculatedfinishedsquarefeet  77184 non-null  float64
 12  fips                          77380 non-null  float64
 13  fireplacecnt                  8276 non-null   float64
 14  fireplaceflag                 172 non-null    float64
 15  garagecarcnt                  25474 non-null  float64
 16  garagetotalsqft               25474 non-null  float64
 17  hashottuborspa                1538 non-null   float64
 18  latitude                      77380 non-null  float64
 19  longitude                     77380 non-null  float64
 20  lotsizesquarefeet             69141 non-null  float64
 21  poolcnt                       16137 non-null  float64
 22  poolsizesum                   867 non-null    float64
 23  propertycountylandusecode     77380 non-null  object
 24  propertylandusetypeid         77380 non-null  float64
 25  propertylandusedesc           77380 non-null  object
 26  propertyzoningdesc            50330 non-null  object
 27  rawcensustractandblock        77380 non-null  float64
 28  regionidcity                  75909 non-null  float64
 29  regionidcounty                77380 non-null  float64
 30  regionidneighborhood          30890 non-null  float64
 31  roomcnt                       77380 non-null  float64
 32  threequarterbathnbr           10096 non-null  float64
 33  typeconstructiontypeid        222 non-null    float64
 34  typeconstructiondesc          222 non-null    object
 35  unitcnt                       50562 non-null  float64
 36  yearbuilt                     77117 non-null  float64
 37  numberofstories               17560 non-null  float64
 38  structuretaxvaluedollarcnt    77268 non-null  float64
 39  taxvaluedollarcnt             77379 non-null  float64
 40  assessmentyear                77380 non-null  float64
 41  landtaxvaluedollarcnt         77378 non-null  float64
 42  taxamount                     77375 non-null  float64
 43  censustractandblock           77136 non-null  float64
 44  logerror                      77380 non-null  float64
 45  transactiondate               77380 non-null  object
dtypes: float64(37), int64(1), object(8)
memory usage: 27.2+ MB

In [36]:
def count_object_values(df):
    
    obj_cols = [col for col in df.columns if df[col].dtype == 'object']
    
    for col in obj_cols:
        print(f'------{col}-------')
        print(df[col].value_counts())

In [49]:
def count_vals_less_10(df):
    
    small_cols = [col for col in df.columns if df[col].nunique() < 10]
    
    for col in small_cols:
        print(f'------{col}-------')
        print(df[col].value_counts())
        print(f'~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')

In [66]:
def count_unique(df):
    columns = df.columns
    
    for col in columns:
        print(f'{col} unique values\n{df[col].nunique()}\n================ ')

In [74]:
def overview(df, thresh = 10):
    '''
    This function takes in a dataframe and prints out useful things about each column.
    Unique values, value counts for columns less than 10 (can be adjusted with optional arguement thresh)
    Whether or not the row has nulls
    '''
    # create list of columns
    col_list = df.columns
    
    # loop through column list
    for col in col_list:
        # seperator using column name
        print(f'============== {col} ==============')
        
        # print out unique values for each column
        print(f'# Unique Vals: {df[col].nunique()}')
        
        # if number of things is under or equal to the threshold  print a value counts
        if df[col].nunique() <= thresh:
            print(df[col].value_counts(dropna = False))
            
        # if the number is less than 150 and not an object, bin it and do value counts
        elif (df[col].nunique() < 150) and df[col].dtype != 'object' :
            print(df[col].value_counts(bins = 10, dropna=False))
        
        # Space for readability 
        print('')

In [76]:
overview(df, thresh = 23)

============== parcelid ==============
# Unique Vals: 77380

============== airconditioningtypeid ==============
# Unique Vals: 5
NaN     52427
1.0     23133
13.0     1574
5.0       167
11.0       53
9.0        26
Name: airconditioningtypeid, dtype: int64

============== airconditioningdesc ==============
# Unique Vals: 5
NaN              52427
Central          23133
Yes               1574
None               167
Wall Unit           53
Refrigeration       26
Name: airconditioningdesc, dtype: int64

============== architecturalstyletypeid ==============
# Unique Vals: 5
NaN     77174
7.0       172
8.0        19
21.0        7
2.0         5
3.0         3
Name: architecturalstyletypeid, dtype: int64

============== architecturalstyledesc ==============
# Unique Vals: 5
NaN              77174
Contemporary       172
Conventional        19
Ranch/Rambler        7
Bungalow             5
Cape Cod             3
Name: architecturalstyledesc, dtype: int64

============== bathroomcnt ==============
# Unique Vals: 22
2.0     31484
3.0     17313
1.0     12902
2.5      6604
4.0      3352
1.5      1415
3.5      1034
5.0      1026
4.5       695
0.0       592
6.0       417
5.5       224
7.0       113
8.0       108
6.5        47
9.0        23
7.5        16
10.0        7
11.0        3
8.5         3
13.0        1
18.0        1
Name: bathroomcnt, dtype: int64

============== bedroomcnt ==============
# Unique Vals: 16
3.0     30361
2.0     19169
4.0     17513
5.0      4543
1.0      3379
6.0       998
0.0       830
8.0       252
7.0       208
9.0        70
10.0       31
12.0       14
11.0        8
13.0        2
14.0        1
16.0        1
Name: bedroomcnt, dtype: int64

============== buildingclasstypeid ==============
# Unique Vals: 2
NaN    77365
4.0       14
3.0        1
Name: buildingclasstypeid, dtype: int64

============== buildingclassdesc ==============
# Unique Vals: 2
NaN                                                                                                                                                                                                                                        77365
Buildings having wood or wood and steel frames                                                                                                                                                                                                14
Buildings having exterior walls built of a non-combustible material such as brick, concrete, block or poured concrete. Interior partitions and roof structures are built of combustible materials. Floor may be concrete or wood frame.        1
Name: buildingclassdesc, dtype: int64

============== buildingqualitytypeid ==============
# Unique Vals: 12
NaN     27709
8.0     14645
6.0     13462
4.0      9482
7.0      5971
9.0      2299
5.0      2088
11.0      931
3.0       329
10.0      313
12.0      116
1.0        26
2.0         9
Name: buildingqualitytypeid, dtype: int64

============== decktypeid ==============
# Unique Vals: 1
NaN     76766
66.0      614
Name: decktypeid, dtype: int64

============== calculatedfinishedsquarefeet ==============
# Unique Vals: 4972

============== fips ==============
# Unique Vals: 3
6037.0    50550
6059.0    20593
6111.0     6237
Name: fips, dtype: int64

============== fireplacecnt ==============
# Unique Vals: 5
NaN    69104
1.0     7008
2.0      995
3.0      235
4.0       35
5.0        3
Name: fireplacecnt, dtype: int64

============== fireplaceflag ==============
# Unique Vals: 1
NaN    77208
1.0      172
Name: fireplaceflag, dtype: int64

============== garagecarcnt ==============
# Unique Vals: 14
NaN     51906
2.0     18608
1.0      5676
3.0       632
4.0       255
0.0       230
5.0        45
6.0        14
7.0         4
10.0        3
8.0         2
9.0         2
14.0        1
11.0        1
13.0        1
Name: garagecarcnt, dtype: int64

============== garagetotalsqft ==============
# Unique Vals: 839

============== hashottuborspa ==============
# Unique Vals: 1
NaN    75842
1.0     1538
Name: hashottuborspa, dtype: int64

============== latitude ==============
# Unique Vals: 64037

============== longitude ==============
# Unique Vals: 62460

============== lotsizesquarefeet ==============
# Unique Vals: 18848

============== poolcnt ==============
# Unique Vals: 1
NaN    61243
1.0    16137
Name: poolcnt, dtype: int64

============== poolsizesum ==============
# Unique Vals: 262

============== propertycountylandusecode ==============
# Unique Vals: 75

============== propertylandusetypeid ==============
# Unique Vals: 13
261.0    52319
266.0    19294
246.0     2009
269.0     1944
248.0      727
247.0      535
265.0      333
263.0       74
275.0       58
260.0       37
267.0       29
31.0        15
264.0        6
Name: propertylandusetypeid, dtype: int64

============== propertylandusedesc ==============
# Unique Vals: 13
Single Family Residential                     52319
Condominium                                   19294
Duplex (2 Units, Any Combination)              2009
Planned Unit Development                       1944
Quadruplex (4 Units, Any Combination)           727
Triplex (3 Units, Any Combination)              535
Cluster Home                                    333
Mobile Home                                      74
Manufactured, Modular, Prefabricated Homes       58
Residential General                              37
Cooperative                                      29
Commercial/Office/Residential Mixed Used         15
Townhouse                                         6
Name: propertylandusedesc, dtype: int64

============== propertyzoningdesc ==============
# Unique Vals: 1907

============== rawcensustractandblock ==============
# Unique Vals: 39194

============== regionidcity ==============
# Unique Vals: 175

============== regionidcounty ==============
# Unique Vals: 3
3101.0    50550
1286.0    20593
2061.0     6237
Name: regionidcounty, dtype: int64

============== regionidneighborhood ==============
# Unique Vals: 480

============== roomcnt ==============
# Unique Vals: 16
0.0     59807
6.0      4513
7.0      3838
5.0      3016
8.0      2872
4.0      1415
9.0      1193
10.0      339
3.0       211
11.0      108
12.0       35
2.0        15
13.0       10
14.0        6
15.0        1
1.0         1
Name: roomcnt, dtype: int64

============== threequarterbathnbr ==============
# Unique Vals: 4
NaN    67284
1.0    10012
2.0       75
3.0        8
7.0        1
Name: threequarterbathnbr, dtype: int64

============== typeconstructiontypeid ==============
# Unique Vals: 4
NaN     77158
6.0       219
4.0         1
13.0        1
10.0        1
Name: typeconstructiontypeid, dtype: int64

============== typeconstructiondesc ==============
# Unique Vals: 4
NaN         77158
Frame         219
Masonry         1
Concrete        1
Metal           1
Name: typeconstructiondesc, dtype: int64

============== unitcnt ==============
# Unique Vals: 8
1.0      47292
NaN      26818
2.0       2018
4.0        723
3.0        525
42.0         1
237.0        1
45.0         1
6.0          1
Name: unitcnt, dtype: int64

============== yearbuilt ==============
# Unique Vals: 136
(1958.4, 1977.6]      20354
(1977.6, 1996.8]      19097
(1939.2, 1958.4]      18463
(1996.8, 2016.0]      10678
(1920.0, 1939.2]       6688
(1900.8, 1920.0]       1743
(1881.6, 1900.8]         90
(1862.4, 1881.6]          3
(1823.807, 1843.2]        1
(1843.2, 1862.4]          0
Name: yearbuilt, dtype: int64

============== numberofstories ==============
# Unique Vals: 4
NaN    59820
1.0    10366
2.0     6757
3.0      436
6.0        1
Name: numberofstories, dtype: int64

============== structuretaxvaluedollarcnt ==============
# Unique Vals: 50429

============== taxvaluedollarcnt ==============
# Unique Vals: 50948

============== assessmentyear ==============
# Unique Vals: 1
2016.0    77380
Name: assessmentyear, dtype: int64

============== landtaxvaluedollarcnt ==============
# Unique Vals: 51600

============== taxamount ==============
# Unique Vals: 73824

============== censustractandblock ==============
# Unique Vals: 39006

============== logerror ==============
# Unique Vals: 76836

============== transactiondate ==============
# Unique Vals: 264


3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [15]:
# I saw this on the afore mentioned kaggle site. This is the credit that author gave.
# credit: https://www.kaggle.com/willkoehrsen/start-here-a-gentle-introduction. 
# One of the best notebooks on getting started with a ML problem.

def missing_values_table(df):
    '''
    this function takes a dataframe as input and will output metrics for missing values, 
    and the percent of that column that has missing values
    '''
    # Total missing values
    mis_val = df.isnull().sum()
    
    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    
    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    
    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    
    # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    
    # Print some summary information
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
        " columns that have missing values.")
        
        # Return the dataframe with missing information
    return mis_val_table_ren_columns

In [16]:
missing_values_table(df)

Your selected dataframe has 46 columns.
There are 31 columns that have missing values.

                              Missing Values  % of Total Values
buildingclasstypeid                    77365              100.0
buildingclassdesc                      77365              100.0
fireplaceflag                          77208               99.8
architecturalstyletypeid               77174               99.7
architecturalstyledesc                 77174               99.7
typeconstructiondesc                   77158               99.7
typeconstructiontypeid                 77158               99.7
decktypeid                             76766               99.2
poolsizesum                            76513               98.9
hashottuborspa                         75842               98.0
fireplacecnt                           69104               89.3
threequarterbathnbr                    67284               87.0
poolcnt                                61243               79.1
numberofstories                        59820               77.3
airconditioningdesc                    52427               67.8
airconditioningtypeid                  52427               67.8
garagetotalsqft                        51906               67.1
garagecarcnt                           51906               67.1
regionidneighborhood                   46490               60.1
buildingqualitytypeid                  27709               35.8
propertyzoningdesc                     27050               35.0
unitcnt                                26818               34.7
lotsizesquarefeet                       8239               10.6
regionidcity                            1471                1.9
yearbuilt                                263                0.3
censustractandblock                      244                0.3
calculatedfinishedsquarefeet             196                0.3
structuretaxvaluedollarcnt               112                0.1
taxamount                                  5                0.0
landtaxvaluedollarcnt                      2                0.0
taxvaluedollarcnt                          1                0.0

<hr style="border-top: 10px groove #1277e1; margin-top: 1px; margin-bottom: 1px"></hr>

1. Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [83]:
# number of rows | missing 6 |out of 46 columns so that's x percent

def nulls_by_row(df):
    num_missing = df.isnull().sum(axis=1)
    prcnt_miss = round(num_missing / df.shape[1] * 100, 2)
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': prcnt_miss})\
    .reset_index()\
    .groupby(['num_cols_missing', 'percent_cols_missing']).count()\
    .rename(index=str, columns={'index': 'num_rows'}).reset_index()
    return rows_missing

In [84]:
nulls_by_row(df)

   num_cols_missing percent_cols_missing  num_rows
0                 9                19.57         2
1                10                21.74        10
2                11                23.91        23
3                12                26.09        62
4                13                28.26       114
5                14                30.43       416
6                15                32.61      5577
7                16                34.78     10549
8                17                36.96     14385
9                18                39.13     21032
10               19                 41.3     18022
11               20                43.48      4283
12               21                45.65      2110
13               22                47.83       438
14               23                 50.0       211
15               24                52.17        84
16               25                54.35        50
17               26                56.52         9
18               27                 58.7         2
19               28                60.87         1

<hr style="border-top: 10px groove #1277e1; margin-top: 1px; margin-bottom: 1px"></hr>

#### Prepare
1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

- The input:
    - A dataframe
    - A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
    - A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
- The output:
    - The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
- hint:
    - Look up the dropna documentation.
    - You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.
    - Make use of inplace, i.e. inplace=True/False.
3. Decide how to handle the remaining missing values:
    - Fill with constant value.
    - Impute with mean, median, mode.
    - Drop row/column

#### wrangle_zillow.py
Functions of the work above needed to acquire and prepare a new sample of data.